div#JsPanel {
	position: absolute;
	overflow: hidden;
}

div.JsPanel_container {
  margin: 0;
  padding: 0;
}

div.JsPanel_pressed {
	border: 2px solid red;
	margin-left: -2px;
	margin-top: -2px;
}

div.JsPanel_hidden, div.JsPanel_hidden * {
	display: none;
}

div.JsPanel_minimized {
	width: 251px;
	height: 38px;
}

div.JsPanel_minimized div {
  margin: 0;
  padding: 0;
}

div.JsPanel_minimized div.JsPanel_leftmid,
div.JsPanel_minimized div.JsPanel_rightmid {
}

div.JsPanel_minimized div.JsPanel_ll,
div.JsPanel_minimized div.JsPanel_lr {
	display: none;
}


div.JsPanel_content {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  z-index: 10;
  padding-left: 18px !important;
  padding-right: 18px !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  overflow: hidden;
}
 
div.JsPanel_content >  div {
  width: 100%;
  border-bottom: 1px solid white;
}

div.JsPanel_usercontent {
  overflow: hidden;
}

div.JsPanel_panelhead {
  text-align: center;
}

div.JsPanel_panelhead > span {
}

div.JsPanel_panelhead > button {
	float: left;
	height: 20px;
	width: 22px;
}

button.JsPanel_minbtn {
	cursor: pointer;
}

div.JsPanel_minimized button.JsPanel_minbtn {
	display: none;
	cursor: pointer;
}

button.JsPanel_minbtn_down {
	cursor: pointer;
}

button.JsPanel_maxbtn {
	cursor: pointer;
}
 
div.JsPanel_container button.JsPanel_maxbtn {
	display: none;
	cursor: pointer;
}
 
button.JsPanel_maxbtn_down {
	cursor: pointer;
}
 
button.JsPanel_closebtn {
	cursor: pointer;
}

button.JsPanel_closebtn_down {
	cursor: pointer;
}
 
div.JsPanel_left, div.JsPanel_right {
  width: 18px;
  float: left;

}

div.JsPanel_ul, div.JsPanel_ll, div.JsPanel_ur, div.JsPanel_lr {
  width: 100%;
  height: 16px;

}

div.JsPanel_leftmid, div.JsPanel_rightmid {
  width: 100%;
  height: 368px;
}

div.JsPanel_mid {
  width: 214px;
  height: 100%;
  float: left;
  overflow: hidden;
}

div.JsPanel_midupper, div.JsPanel_midlower {
  width: 100%;
  height: 5px;
}

div.JsPanel_midmain {
  width: 100% ;
  height: 390px;
}

div.JsPanel_midmain img.JsPanel_midback {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
 z-index: -1;
}




